body {
  background: #000;
  color: #0f0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

#container {
  display: flex;
  flex-direction: row;
}

#gameScreen, #terminusScreen {
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  border-right: 1px solid #030;
}
